{% extends 'base.njk' %}

{% block contentHead %}
    <link rel="stylesheet" type="text/css" href="/{{ site.devName }}/assets/styles/default.css">
{% endblock %}

{% block contentBody %}
    {% block contentDefault %}
    {% endblock %}
{% endblock %}