{% extends 'base.njk' %}

{% block contentHead %}
    <link rel="stylesheet" type="text/css" href="/assets/styles/default.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
{% endblock %}

{% block contentBody %}
    <header>
        {%include 'components/navbar.njk' %}
    </header>
    <main>
        {% block contentDefault %}
        {% endblock %}
    </main>
{% endblock %}