{% extends "base.njk" %}

{% block content %}
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.svg">
    <body>
        <header>
            {%include 'components/navbar.njk' %}
        </header>
        {% block listContent %}
        {% endblock %}
    </body>
{% endblock %}