<div id="Home" class="content">
    <div class="content--index">
        <section class="content__inner content__inner--index">
            <img class="selfie" src="./assets/images/its_a_me_not_mario.png" alt="A picture of me." />
            <H1 class="title">
                Hi, my name is <span class="text--accent">Brent</span>
                <br> and I'm a 
                <span class="typer text--accent">Full-stack developer</span>
            </h1>
        </section>
        <a href="#Contact" class="button button--contact">Contact me</a>
    </div>
</div>