<div id="Services" class="content">
    <div class="content__inner content__inner--services">
        <p class="text--services">These are the <span class="text--accent">services</span> I'm currently offering you.</p>
        <ul class="services">
            {% for service in collections.services %}
                <li class="service card card__front">
                    <img class="service__image" src="./assets/images/services/{{service.data.image}}" alt="{{service.data.name}} logo">
                    <span class="service__name">{{service.data.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>