<nav class="nav container container--nav">
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
        {% if entry.img %}
            <a class="nav__link nav__link--logo" id="nav_{{entry.title}}" href="./#{{entry.key}}">
                <img src="./assets/images/{{entry.img[0].src}}" class="{{entry.img[0].class}}" alt="{{entry.img[0].alt}}">
            </a>
        {% endif %}
    {%- endfor %}
    <ul class="nav__links">
        {%- for entry in navPages %}
            {% if not entry.img %}
                <li>
                    <a class="nav__link" id="nav_{{entry.title}}" href="./#{{entry.key}}">{{entry.title}}</a>
                </li>
            {% endif %}
        {%- endfor %}
    </ul>
</nav>