/* Import assets */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* Predefine variables */
:root {
  --color-bg: #111;
  --color-text: #fff;
  --color-accent-light: #2e2;
  --color-accent: #171;
  --color-accent-dark: #121;
}

/* Set scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Actual styling */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Rubik', sans-serif;
  overflow: hidden;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  position: fixed;
  background-color: var(--color-bg);
}

.nav__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav__link {
  text-decoration: none;
  padding: 0.5rem;
}

.nav__link:hover {
  transition: 0.2s ease-in;
  color: var(--color-accent-light);
}

.nav__link--active {
  color: var(--color-accent-light);
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.5rem;
}

.nav__link--logo:hover .logo {
  transition: 0.4s ease-in-out;
  filter: invert(51%) sepia(83%) saturate(7089%) hue-rotate(81deg) brightness(200%) contrast(100%);
}

.logo {
  height: 2rem;
}

/* Container */
.container {
  width: calc(100vw - 2rem);
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container--nav {
  width: calc(100vw - 1rem);
  max-width: 61rem;
  padding: 0 0.5rem;
}

.content {
  padding: 3rem 0 1rem 0;
  height: calc(100vh - 4rem);
  width: fit-content;
  margin: 0 auto;
}