/* Import assets */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* Predefine variables */
:root {
  --color-bg: #111;
  --color-text: #fff;
  --color-accent-light: #2e2;
  --color-accent: #171;
  --color-accent-darker: #141;
  --color-accent-dark: #121;
}

/* Set scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Typography */
.title {
  font-size: 2rem;
  margin: 1rem auto;
  width: 20.5rem;
}
@media (min-width: 56rem) {
  .title {
    width: 30rem;
  }
}

.text--accent {
  color: var(--color-accent-light);
}

/* Buttons */
.button {
  font-size: 1.25rem;
  color: var(--color-text);
  background: radial-gradient(var(--color-accent-darker) 25%, var(--color-accent-dark) 150%);
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 0;
  border-radius: 1rem;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.button--contact {
  margin: 2rem auto;
}

/* Actual styling */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}
@media (min-height: 40rem) {
  body {
    overflow-y: hidden;
  }
}
@media (min-width: 56rem) {
  @media (min-height: 29rem) {
    body {
      overflow-y: hidden;
    }
  }
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  width: inherit;
  background-color: var(--color-bg);
  position: fixed;
}
@media (min-width: 60rem) {
  .nav {
    left: calc(50vw - 30rem);
  }
}

.nav__links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav__link {
  text-decoration: none;
  padding: 0.5rem;
}

.nav__link:hover {
  transition: 0.2s ease-in;
  color: var(--color-accent-light);
}

.nav__link--active {
  color: var(--color-accent-light);
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.5rem;
}

.nav__link--logo:hover .logo {
  transition: 0.4s ease-in-out;
  filter: invert(51%) sepia(83%) saturate(7089%) hue-rotate(81deg) brightness(200%) contrast(100%);
}

.logo {
  height: 2rem;
}

/* Card component */
.card {
  width: calc(50% - 0.5rem);
  max-width: 10rem;
  max-height: 12rem;
  perspective: 60rem;
  font-family: "Poppins";
}

.card__flip {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card__flip {
  transform: rotateY(180deg);
}

.card__front, .card__back {
  height: 12rem;
  max-height: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  backface-visibility: hidden;
  text-align: center;
}

.card__front {
  background: radial-gradient(#112211 25%, #111111 150%);
}

.card__back {
  background: radial-gradient(#114411 25%, #111111 150%);
  filter: drop-shadow(0 0 0.1rem #22ee22);
  transform: rotateY(180deg);
  margin-top: -12rem;
  justify-content: center;
  flex-direction: column;
}

/* Container */
.container {
  width: calc(100vw - 2rem);
  max-width: 60rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.container--nav {
  width: calc(100vw - 1rem);
  max-width: 61rem;
  padding: 0 0.5rem;
}

.content {
  padding: 3rem 0 1rem 0;
  height: calc(100vh - 4rem);
  width: fit-content;
  margin: 0 auto;
}

.content__inner {
  display: flex;
  align-items: center;
}

.selfie {
  width: 18rem;
  height: 18rem;
  background: radial-gradient(var(--color-accent) 25%, var(--color-accent-dark) 75%);
  border-radius: 50%;
  margin-top: 0.25rem;
}

/* Content index */
@media (min-height: 40rem) {
  .content--index {
    margin: calc(50vh - 19.5rem) auto;
  }
}
@media (min-width: 56rem) {
  @media (min-height: 29rem) {
    .content--index {
      margin: calc(50vh - 14.5rem) auto;
    }
  }
}

.content__inner--index {
  flex-direction: column;
}
@media (min-width: 56rem) {
  .content__inner--index {
    flex-direction: row;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

/* Content services */
.content__inner--services {
  flex-direction: column;
  justify-content: center;
}

.services {
  padding: 0;
  margin: 0;
  width: fit-content;
}

.service {
  max-width: calc(100vw - 2rem);
  width: 100%;
  gap: 1rem;
  transition: 0.4s ease-in-out;
}

.service:hover {
  background: radial-gradient(#114411 25%, #111111 150%);
  filter: drop-shadow(0 0 0.1rem #22ee22);
}

.service.card__front {
  max-height: calc(calc(100vh - 8rem) / 4);
}

.service__image {
  max-width: calc(50% - 0.5rem);
  height: 100%;
  object-fit: contain;
  border-radius: 1rem;
  margin: 0 auto;
}

.service__name {
  width:  calc(50% - 0.5rem);;
}

