/* Import assets */
@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* Predefine variables */
:root {
  --color-bg: #111;
  --color-text: #fff;
  --color-accent-light: #2e2;
  --color-accent: #171;
  --color-accent-dark: #121;
}

/* Actual styling */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Rubik', sans-serif;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: flex-end;
  width: inherit;
}

.nav__links {
  padding: 0 0.5rem;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 3rem;
}

.nav__link {
  padding: 1rem 0.5rem;
  border: 0;
}

.nav__link:hover {
  transition: 0.2s ease-in;
  color: var(--color-accent-light);
}

.nav__link--active {
  color: var(--color-accent-light);
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.5rem;
}

/* Container */
.container {
  width: calc(100vw - 2rem);
  max-width: 60rem;
  padding: 1rem;
  margin: 0 auto;
}