---
title: Home
eleventyNavigation:
    key: Home
    order: 1
    img: 
    - src: logo.svg
      alt: logo
      class: logo
---
{% extends "default.njk" %}

{% block defaultContent %}
    <main class="container">
        {% include "components/content_index.njk" %}
         {% include "components/content_services.njk" %}
        {% include "components/content_projects.njk" %}
        {% include "components/content_technologies.njk" %}
        {% include "components/content_contact.njk" %}     
    </main>
{% endblock %}