---
title: Home
eleventyNavigation:
    key: Home
    order: 1
---
{% extends 'default.njk' %}

{% block contentDefault %}
    <div class="container">
        <h1>Greetings earthling!</h1>
    </div>
{% endblock %}
